h1, .h1 {
	margin-bottom: 1em;
	line-height: 1;
}
h2, .h2 {
	margin-bottom: 1em;
	line-height: 1;
}
h3, .h3 {
	margin-bottom: .8em;
	line-height: 1;
}
h4, .h4 {
	margin-bottom: .5em;
	line-height: 1;
}
h5, .h5 {
	margin-bottom: .5em;
	line-height: 1;
}
h6, .h6 {
	margin-bottom: .5em;
	line-height: 1;
}
.alter-header {
	font-family: Arial, Helvetica;
	color: grey;
}
/*
 * Navegación, usarla con el elemento NAV con la clase main-nav
 * de la siguiente manera:
<nav class="main-nav">
	<ul class="main-nav__list">
		<li class="main-nav__item"><a href="">Nav 1</a></li>
		<li class="main-nav__item"><a href="">Nav 2</a></li>
		<li class="main-nav__item"><a href="">Nav 3</a></li>
		<li class="main-nav__item"><a href="">Nav 4</a></li>
		<li class="main-nav__item"><a href="">Nav 5</a></li>
	</ul>
</nav>
*/
.main-nav {

}
	.main-nav__list {
		list-style-type: none;
		width: 150px;
		background-color: orange;
		margin: 0;
		padding: 0;
	}


		.main-nav__item {
			display: block;
		}

		.main-nav__item a {
			display: block;
			line-height:2;
			text-align: center;
		}
@media all and (min-width: 480px) {
	.main-nav__list {
		width: 100%;
	}
	.main-nav__item {
		display: inline-block;
	}
}

/*Fin módulo navegación*/


/*
Layout-home
*/

.home {
	background-color: orange;
	width: 100%;
}
	/*La sección que envuelve el contenido*/
	.home__section {
		width: 100%;
		background-color: olive;
	}

	.home__aside {
		width: 100%;
		background-color: pink;
	}

@media all and (min-width: 580px) {
	.home {	display: table; }
	.home__section {width: 68%; display: table-cell;}
	.home__aside {width: 32%; display: table-cell;}
}